@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Symbols:wght@100..900&display=swap');




*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


li {
  list-style: none;
}

html {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html,
body {
  height: 100vh;
}


body {
  background-image: url("img/bg-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.landing-frame {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.landing-frame>h1 {
  font-size: 6rem;
  font-style: italic;
  font-family: 'Notable', 'Note Sans Symbols';
  color: rgb(255, 105, 5);
  margin-bottom: 50px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.start-button {
  width: 350px;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  color: white;
  border: none;
  animation: moveUpDown 3s ease-in-out infinite;
}

.start-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;

}

.setupboard-frame {
  display: flex;
  flex-direction: row;
}

.player-board {
  width: 500px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.rotate-btn {
  width: 40px;
  height: 40px;
}

.rotate-btn:hover {
  position: relative;
  bottom: 5px;
}

.ship-options {
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}


.enemy-board-container {
  display: none;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
}


.ship-chosen {
  border: 2px solid white;
}

.carrier-preview {
  width: 250px;
  height: 50px;
  background-color: red;
}

.battleship-preview {
  width: 200px;
  height: 50px;
  background-color: orange;
}

.destroyer-preview {
  width: 150px;
  height: 50px;
  background-color: yellow;
}

.submarine-preview {
  width: 100px;
  height: 50px;
  background-color: green;
}

.ship-preview {
  background-color: rgba(0, 128, 255, 0.5);
}

.carrier {
  background-color: red;
}

.battleship {
  background-color: orange;
}

.destroyer {
  background-color: yellow;
}

.submarine {
  background-color: green;
}

.player-board-container>div:first-child {
  display: flex;
  gap: 50px;
}