@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Symbols:wght@100..900&display=swap');




*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


li {
  list-style: none;
}

html {
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html,
body {
  height: 100vh;
}


body {
  background-image: url("img/bg-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}


.landing-frame {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.landing-frame>h1 {
  font-size: 6rem;
  font-style: italic;
  font-family: 'Notable', 'Note Sans Symbols';
  color: rgb(255, 105, 5);
  margin-bottom: 50px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 2px black;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.play-button {
  width: 250px;
  height: 70px;
  padding-bottom: 10px;
  font-size: 2.0rem;
  font-family: 'Notable', 'Courier New', Courier, monospace;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  color: white;
  border: none;
  animation: moveUpDown 3s ease-in-out infinite;
}

.play-button:hover,
.start-game-button:hover {
  background-color: rgb(255, 105, 5);
  color: black;
  cursor: pointer;
}

.setupboard-frame {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.player-board,
.enemy-board {
  width: 500px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}



.player-board-container {
  displaY: flex;
  flex-direction: column;
  gap: 10px;
}

.rotate-btn {
  width: 40px;
  height: 40px;
}

.rotate-btn:hover {
  position: relative;
  cursor: pointer;
  bottom: 5px;
}

.ship-options {
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.ship-options-container {
  display: flex;
  flex-direction: column;
  gap: 15px
}

.notification-msg {
  color: black;
}


.enemy-board-container {
  display: none;
}

.enemy-cell,
.player-cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
}


.ship-chosen {
  border: 2px solid white;
}

.carrier-preview {
  width: 250px;
  height: 50px;
  background-color: violet;
}

.battleship-preview {
  width: 200px;
  height: 50px;
  background-color: orange;
}

.destroyer-preview {
  width: 150px;
  height: 50px;
  background-color: yellow;
}

.submarine-preview {
  width: 100px;
  height: 50px;
  background-color: green;
}

.ship-preview {
  background-color: rgba(0, 128, 255, 0.5);
}

.Carrier {
  background-color: violet;
}

.Battleship {
  background-color: orange;
}

.Destroyer {
  background-color: yellow;
}

.Submarine {
  background-color: green;
}

.enemy-ship {
  background-color: white;
}


.notif-btn-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.start-game-modal {
  display: none;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.start-game-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10%;
  width: 100%;
  height: 80%;
}

.start-game-title {
  font-size: 4rem;
  font-family: 'Notable', 'Note Sans Symbols';
  color: rgb(255, 105, 5);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  -webkit-text-stroke: 2px black;
}

.start-game-button {
  width: 250px;
  font-size: 2.5rem;
  padding-bottom: 15px;
  font-family: 'Notable', 'Courier New', Courier, monospace;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  color: white;
  border: none;
  animation: moveUpDown 3s ease-in-out infinite;
}

.game-frame {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.damage {
  background-color: red;
}

.missed {
  background-color: black;
}